---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

<!-- 1. Bruna, M., Burger, M., & de Wit, O. (2024). Lane formation and aggregation spots in a model of ants. SIAM Journal on Applied Dynamical Systems (SIADS), <a href="https://doi.org/10.1137/24M1634527">doi</a>, <a href="https://arxiv.org/abs/2401.15046">arxiv</a>. 

2. Rakotomalala, M., & de Wit, O. Existence and dimensional lower bound for the global attractor of a PDE model for ant trail formation, in preparation.

3. Bruna, M., Schmidtchen, M., & de Wit, O. Convergence of a finite volume scheme for a model for ants, in preparation. -->

<ul>
  <li>Bruna, M., Burger, M., & de Wit, O. (2025). Lane formation and aggregation spots in a model of ants. SIAM Journal on Applied Dynamical Systems (SIADS), <a href="https://doi.org/10.1137/24M1634527">doi</a>, <a href="https://arxiv.org/abs/2401.15046">arxiv</a></li>
  <li>Bruna, M., Schmidtchen, M., & de Wit, O. (2025). Convergence of a finite volume scheme for a model for ants. ESAIM: M2AN, <a href="https://doi.org/10.1051/m2an/2025092">doi</a>, <a href="https://arxiv.org/abs/2503.24001">arxiv</a></li>
  <li>Rakotomalala, M., & de Wit, O. Existence and dimensional lower bound for the global attractor of a PDE model for ant trail formation, <a href="https://arxiv.org/abs/2504.01765">arxiv</a></li>
</ul>

<!-- {% include base_path %} -->

<!-- New style rendering if publication categories are defined -->
<!-- {% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %} -->



