---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<ul>
  <li>"Convergence of a finite volume scheme for a model for ants", TU Munich, Analysis and Modelling seminar, November 2025</li>
  <li>"Collective behaviour of active particles with mean-field interaction", Gradient Flows face-to-face, September 2025</li>
  <li>"Nonlinear instability and overdamped limit for a PDE model for ants", British Applied Maths Colloquium, June 2025</li>
  <li>"Ant Lane formation: particle system and mean-field limit PDE", OxPDE Lunchtime seminar, November 2024</li>
  <li>"Pattern formation and stability for a kinetic model of ants", Special Session Nonlinear Patterns and Waves in Biological Systems, AMS-UMI International Joint Meeting, July 2024</li>
  <li>"Lane formation and aggregation spots in a model for ants", Minisymposium Nonlinear and nonlocal PDE in biology and collective behaviour, European Congress of Mathematics, Seville, Spain, July 2024</li>
  <li>"Overdamped Limit for Ants as Interacting Active Brownian Particles", poster, Mathematical Biology: Collective Behavior and Pattern Formation, CIRM, Marseille, June-July 2024</li>
  <li>"Lane formation and aggregation spots in foraging ants", Research seminar Analysis, Universität Hagen, Germany, June 2024</li>
  <li>"Pattern formation and stability for a kinetic model of ant", British Applied Maths Colloquium, Newcastle University, UK, April 2024</li>
  <li>"Lane formation and Keller-Segel collapse in a model for ants", Bio-PDE Days, Vienna, TU Wien, Austria, March 2024</li>
  <li>"Why ants need antennas", poster, Mathematics of Movement, Isaac Newton Institute, Cambridge, UK, July 2024</li>
  <li>"Active particle models from the PDE perspective", Junior Analysis seminar, Imperial College London, May 2023</li>
  <li>"PDE analysis of a model for chemotactic active particles", poster, CCIMI Industry Engagement Day, December 2022</li>
  <li>"PDE analysis of a model for chemotactic active particles", poster, research school Kinetic Theory, CIRM, Marseille, November 2022</li>
  <li>"Nonlinear advection-diffusion equations: some methods for an \(L^\infty\) bound, uniqueness and asymptotic dynamics", Junior Analysis and PDE seminar, University of Cambridge, October 2022</li>
  <li>"Active Brownian Particles and chemotaxis", From Individual to Collective Behaviour in Biological and Robotic Systems, International Centre for Mathematical Sciences, Edinburgh, June 2022</li>
  <li>"Active Brownian Particles and chemotaxis", Jinx talk, Isaac Newton Institute, Cambridge, UK, June 2022</li>
  <li>"Analysis of chemotaxis models", Junior Analysis and PDE seminar, University of Cambridge, December 2021</li>
</ul> 

<!-- {% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
