---
<!-- layout: archive -->
title: "Teaching"
<!-- permalink: /teaching/ -->
author_profile: true
---

<ul>
<li>Tutor, Part B "Applied Partial Differential Equations", 15 students, University of Oxford, Michaelmas 2024</li>
<li>Supervisor, Part II "Mathematical Biology", 3 pairs, University of Cambridge, Lent 2024</li>
<li>Supervisor, Part IB "Numerical Analysis", 3 pairs, University of Cambridge, Lent 2024</li>
<li>Supervisor, Part II "Dynamical Systems", 2 pairs, University of Cambridge, Michaelmas 2023</li>
<li>Supervisor, Part I "Vectors & Matrices", 3 pairs, University of Cambridge, Michaelmas 2023</li>
<li>Supervisor, Part II "Mathematical Biology", 2 pairs, University of Cambridge, Lent 2023</li>
<li>Supervisor, Part I "Vectors & Matrices", 3 pairs, University of Cambridge, Michaelmas 2022</li>
<li>Teaching assistant, "Kepler & Newton in Historical Perspective", Radboud University Nijmegen, Fall 2018</li>
</ul>

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
