---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

- Tutor, Part B ‘Applied Partial Differential Equations’, 15 students, University of Oxford, Michaelmas 2024
- Supervisor, Part II ‘Mathematical Biology’, 3 pairs, University of Cambridge, Lent 2024
- Supervisor, Part IB ‘Numerical Analysis’, 3 pairs, University of Cambridge, Lent 2024
- Supervisor, Part II ‘Dynamical Systems’, 2 pairs, University of Cambridge, Michaelmas 2023
- Supervisor, Part I ‘Vectors & Matrices’, 3 pairs, University of Cambridge, Michaelmas 2023
- Supervisor, Part II ‘Mathematical Biology’, 2 pairs, University of Cambridge, Lent 2023
- Supervisor, Part I ‘Vectors & Matrices’, 3 pairs, University of Cambridge, Michaelmas 2022
- Teaching assistant, ‘Kepler & Newton in Historical Perspective’, Radboud University Nijmegen, Fall 2018

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->
